<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <div class="row">
            <div class="col-md-4">
              <select class="form-control" id="filtro-area" [(ngModel)]="filtroArea" (change)="aplicarFiltro()">
                <option value="" selected>Todas las áreas</option>
                <option *ngFor="let areaInt of listEventos">{{ areaInt.nombre }}</option>
              </select>
            </div>
            <div class="col-md-4">
              <select class="form-control" id="filtro-genero" [(ngModel)]="filtroGenero" (change)="aplicarFiltroAG()">
                <option value="" selected>Todos los géneros</option>
                <option value="H">Masculino</option>
                <option value="M">Femenino</option>
              </select>
            </div>
            <div class="col-md-4">
              <input type="date" id="filtro-fecha" [(ngModel)]="filtroFecha" class="form-control" (change)="aplicarFiltroAF()">
            </div>
          </div>
          
        </div>

        <div class="card-body">
          <span class="titulo" >LISTADO DE PARTICIPANTES</span>
          <button class="btn btn-success float-end" routerLink="/añadir-participante">NUEVO</button>
          <table *ngIf="listProductos.length > 0" class="table table-striped mt-3" >
            <thead>
              <tr>
                <th scope="col">Nombre</th>
                <th scope="col">Edad</th>
                <th scope="col">Genero</th>
                <th scope="col">Area de interéz</th>
                <th scope="col">Correo</th>
                <th scope="col">Teléfono</th>
                <th scope="col">Ciudad</th>
                <th scope="col">Cargo</th>
                <th scope="col"></th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let producto of listProductos">
                <td>{{ producto.nombre }} {{ producto.apPaterno }} {{ producto.apMaterno }}</td>
                <td>{{ producto.edad }}</td>
                <td>{{ producto.genero }}</td>
                <td>{{ producto.areaInt }}</td>
                <td>{{ producto.correo }}</td>
                <td>{{ producto.telefono }}</td>
                <td>{{ producto.ciudad }}</td>
                <td>{{ producto.cargo }}</td>
                <td>
                <i (click)="eliminarProducto(producto._id)" class="fas fa-trash text-danger"></i>
              </td>
            </tr>
          </tbody>
        </table>
        </div>
      </div>
    </div>
  </div>
</div>

