<div class="container mt-5">
    <div class="row">
        <div class="col-lg-6 offset-lg-3">
            <div class="card">
                <div class="card-body text-center">
                    <span class="titulo"> {{ titulo | uppercase }}</span>
                    <form class="mt-3" [formGroup]="productoForm" (ngSubmit)="agregarProducto()">
                        <div class="mb-3">
                            <input type="text" formControlName="nombre" class="form-control form-control-lg"
                                placeholder="Nombre">
                            <div class="text-danger"
                                *ngIf="productoForm.get('nombre')?.hasError('required') && productoForm.get('nombre')?.touched">
                                <span>El nombre del participante <strong>es obligatorio</strong></span>
                            </div>
                        </div>
                        <div class="mb-3">
                            <input type="text" formControlName="apPaterno" class="form-control form-control-lg"
                                placeholder="Apellido Paterno">
                            <div class="text-danger"
                                *ngIf="productoForm.get('apPaterno')?.hasError('required') && productoForm.get('apPaterno')?.touched">
                                <span>El apellido del participante <strong>es obligatorio</strong></span>
                            </div>
                        </div>
                        <div class="mb-3">
                            <input type="text" formControlName="apMaterno" class="form-control form-control-lg"
                                placeholder="Apellido Materno">
                            <div class="text-danger"
                                *ngIf="productoForm.get('apMaterno')?.hasError('required') && productoForm.get('apMaterno')?.touched">
                                <span>El apellido del participante <strong>es obligatorio</strong></span>
                            </div>
                        </div>
                        <div class="mb-3">
                            <input type="number" formControlName="edad" class="form-control form-control-lg"
                                placeholder="Edad">
                            <div class="text-danger"
                                *ngIf="productoForm.get('edad')?.hasError('required') && productoForm.get('edad')?.touched">
                                <span> La edad <strong>es obligatoria</strong></span>
                            </div>
                        </div>
                        <div class="mb-3">
                            <select class="form-select form-select-lg mb-3" formControlName="genero" aria-label="Default select example" aria-placeholder="Género">
                                <option class="form-select" value="" disabled selected hidden>Género</option>
                                <option value="H">Hombre</option>
                                <option value="M">Mujer</option>
                            </select>
                            <div class="text-danger"
                                *ngIf="productoForm.get('genero')?.hasError('required') && productoForm.get('genero')?.touched">
                                <span>El genero <strong>es obligatorio</strong></span>
                            </div>
                        </div>
                        <div class="mb-3">
                            <select class="form-select form-select-lg mb-3" formControlName="areaInt" aria-label="Default select example" aria-placeholder="Género">
                                <option class="form-select" value="" disabled selected hidden>Area de interéz</option>
                                <option *ngFor="let evento of listEventos">{{ evento.nombre }}</option>
                            </select>
                            <div class="text-danger"
                                *ngIf="productoForm.get('areaInt')?.hasError('required') && productoForm.get('areaInt')?.touched">
                                <span>El area <strong>es obligatoria</strong></span>
                            </div>
                        </div>
                        <div class="mb-3">
                            <input type="text" formControlName="correo" class="form-control form-control-lg"
                                placeholder="Correo">
                            <div class="text-danger"
                                *ngIf="productoForm.get('correo')?.hasError('required') && productoForm.get('correo')?.touched">
                                <span>El correo <strong>es obligatorio</strong></span>
                            </div>
                        </div>
                        <div class="mb-3">
                            <input type="text" formControlName="telefono" class="form-control form-control-lg"
                                placeholder="Teléfono">
                            <div class="text-danger"
                                *ngIf="productoForm.get('telefono')?.hasError('required') && productoForm.get('telefono')?.touched">
                                <span>El teléfono <strong>es obligatorio</strong></span>
                            </div>
                        </div>
                        <div class="mb-3">
                            <select class="form-select form-select-lg mb-3" formControlName="ciudad" aria-label="Default select example" aria-placeholder="Ciudad">
                                <option class="form-select" value="" disabled selected hidden>Ciudad</option>
                                <option value="Dolores Hidalgo">Dolores Hidalgo</option>
                                <option value="Monterrey"> Monterrey</option>
                                <option value="CDMX">CDMX</option>
                            </select>
                            <div class="text-danger"
                                *ngIf="productoForm.get('ciudad')?.hasError('required') && productoForm.get('ciudad')?.touched">
                                <span> La ciudad <strong>es obligatoria</strong></span>
                            </div>
                        </div>
                        <div class="mb-3">
                            <select class="form-select form-select-lg mb-3" formControlName="cargo" aria-label="Default select example" aria-placeholder="Género">
                                <option class="form-select" value="" disabled selected hidden>Cargo</option>
                                <option *ngFor="let cargo of listCargos">{{ cargo.cargo }}</option>
                            </select>
                            <div class="text-danger"
                                *ngIf="productoForm.get('cargo')?.hasError('required') && productoForm.get('cargo')?.touched">
                                <span>El cargo <strong>es obligatorio</strong></span>
                            </div>
                        </div>
                        <div class="mb-3">
                            <button routerLink="/" class="btn btn-secondary btn-lg float-start">VOLVER</button>
                          <button type="submit" [disabled]="productoForm.invalid" class="btn btn-success btn-lg float-end">ACEPTAR</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

